<li [routerLink]="route()" class="px-4 py-2 rounded-2xl hover:bg-purple-500 cursor-pointer hover:font-semibold">{{label()}}</li>
<!-- É preciso colocar [] em routerLink para que ele interprete como uma propriedade do componente e não como uma string literal. -->
<!-- Também é necessário chamar as funções label() e route() com parênteses para obter os valores retornados por elas. -->
<!-- o routerLink é uma diretiva do Angular que permite a navegação entre diferentes rotas definidas na aplicação. -->

